.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:20px;
    margin-top: 65px;
}
.hero img{
    /* margin-top: 150px; */
    max-width: 265px;
    border: 3px solid #ff009e;
    border-radius: 50%;

}

.hero h1{
    text-align: center;
    width: 70%;
    font-size: 65px;
    font-weight: 500;
}

.hero h1 span {
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 17px;
    font-weight: 500px;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28% );
    cursor: pointer;
}
.hero-resume{
    /* padding: 25px 75px; */
    border-radius: 50px;
    /* border: 2px solid #fff; */
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid white;
}
.resume:hover{
    border-color: #B415FF;
}
.resume{
    padding: 25px 75px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 50px;
}
.hero img:hover {
    
    /* transition: 0.3s; */
    border-radius: 50%;
    transform: scale(1.02);
    border: 3px solid #ff009e;
    box-shadow: 0px 1px 5px 7px #d34679;
}

@media (max-width:768px){
    .hero img{
        /* margin-bottom: 120px; */
        width: 220px;
    }
    .hero h1{
        /* margin-top: 50px; */
        width: 90%;
        font-size: 50px;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;  
    }
    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
    }
    .resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
}

@media (max-width:426px){
    .hero h1 span{
        font-size: 34px;
    }
    .hero h1{
        font-size: 34px;
    }
    .hero p {
        width: 90%;
    }
    .hero-action {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 35px;
        font-size: 14px;
    }
}

@media (max-width:375px){
    .hero h1 span {
        font-size: 26px;
    }
    .hero h1{
        font-size: 26px;
    }
}